@import 'styles/globals.scss';

.Map {
  position: relative;
  padding: 6rem 3rem 6rem 12rem;
  overflow: hidden;

  &_item {
    &:first-child {
      flex: 0 0 45%;
      max-width: 45%;
      margin-right: 3rem;
    }

    &:last-child {
      flex: 1;
    }

    @media (max-width: 991px) {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      margin-right: 0 !important;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &_background {
    @include styleBackground();
  }

  &_image {
    img {
      width: 100%;
    }
  }

  &_wrapper {
    position: relative;
    z-index: 2;
    min-height: 100vh;
  }

  &_title {
    font-size: 3.6rem;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px $bay-of-many;
    margin-bottom: 6.4rem;
    color: $white;

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &_description {
    color: $white;
    font-size: 2rem;
    line-height: 1.5;

    @media (max-width: 991px) {
      text-align: center;
    }
  }
}