/* https://chir.ag/projects/name-that-color */

$white: #fff;
$black: #000;

$razzle-dazzle-rose: #FF2FC7;
$electric-violet: #FC00FF;
$purple-heart: #6F2FBF;

$grape: #4B1A57;
$blue-gem: #530C9A;
$amethyst-smoke: #A89EAD;
$bleached-cedar: #36263E;
$bay-of-many: #2A5298;