@font-face {
  font-family: Super-Mario-Bros-2;
  font-weight: 400;
  src: url('../assets/fonts/super-mario-bros-2.ttf') format('truetype');
}

@font-face {
  font-family: Press-Start-2p-Regular;
  font-weight: 400;
  src: url('../assets/fonts/press-start-2p-regular.ttf') format('truetype');
}
